extends layout

block content
    - var spiel
    div.p-3
        div
            h2 Ausgewählt

        each val in gutscheine
            if val.spiel == req.query.gutschein
                - spiel = val
                div.pb-3
                    div.pb-0.font-weight-bold=val.spiel
                    div.pb-0=val.headline
                    a(href="ausgewaehlt?gutschein="+val.spiel)
                        img(src=val.img width="300px")
        div.w-100.pt-3
            if !req.query.action
                form(action="/ausgewaehlt")
                    input.d-none.form-control-lg(type="text", name="gutschein", value=req.query.gutschein)
                    input.d-none.form-control-lg(type="text", name="action", value="start")
                    input.btn-primary.btn.btn-lg(type="submit", value="Start")
            else if req.query.action == "start"
                form(action="/ausgewaehlt")
                    input.d-none.form-control-lg(type="text", name="gutschein", value=req.query.gutschein)
                    input.d-none.form-control-lg(type="text", name="action", value="sync")
                    input.btn-primary.btn.btn-lg(type="submit", value="Synchronisieren mit Tracker")

            else if req.query.action == "sync"
                div.pb-1.font-weight-bold Aktueller Fortschritt
                div.progress
                    div.progress-bar(role="progressbar" style="width: "+(5*100/spiel.std)+"%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")="5h/"+spiel.std+"h"

                div
                    table.table
                        thead
                            tr
                                th Datum
                                th Sport in Stunden
                        tbody
                            tr
                                td 26.11.
                                td 2 
                            tr  
                                td 27.11.
                                td 1
                            tr  
                                td 28.11.
                                td 2
                            
                form(action="/ausgewaehlt")
                    input.d-none.form-control-lg(type="text", name="gutschein", value=req.query.gutschein)
                    input.d-none.form-control-lg(type="text", name="action", value="sync")
                    input.btn-primary.btn.btn-lg(type="submit", value="Synchronisieren mit Tracker")
